.cat {
    width: 200px;
    height: 271px;
    opacity: 0.5;
    margin-left: 30px;
}

.cat:hover {
    opacity: 0.7;
}

.cat:active {
    opacity: 1;
}

.upgrade-wrapper {
    position: absolute;
    top: 0;
    right: 0;
}

.cat.upgrade {
    width: 100px;
    height: 131px;
}

.upgrade p {
    display: inline-block;

}
.upgrade{
    position: relative;
}
.upgrade .boost-info{
    display: none;
    position: absolute;
    width: 250px;
    right: 100px;
    top:20px
}
.boost-info p{
    line-height: 2px;
}
.upgrade:hover .boost-info{
    display: inline-block;
}
