<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <title>Title </title>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.6.0.js"></script>
</head>
<body>
<script>
    async function callClick() {
        let response = await fetch("../clicker/" + document.forms.userForm.username.value, {
            method: "PUT",
            headers: {"X-Requested-With": "XMLHttpRequest"}
        });
        let answer = await response.json();
        $("#coins").text(answer.toString());
    }

    async function selectUser() {
        let response = await fetch("../clicker/get/" + document.forms.userForm.username.value, {
            method: "PUT",
            headers: {"X-Requested-With": "XMLHttpRequest"}
        });
        $("#userForm").hide();
        $("#clicker").show();
        let answer = await response.json();
        $("#coins").text(answer.toString());
    }
</script>
<form id="userForm" name="userForm">
    <label for="username">Введите имя пользователя</label>
    <input id="username" name="username" type="text">
    <input onclick="selectUser()" type="button" value="Найти">
</form>
<div id="clicker" style="display: none;">
    <h1>You have <span id="coins"></span> coins</h1>
    <button onclick="callClick()"><h1>Click Me</h1></button>
</div>
</body>
</html>
